/* You can add global styles to this file, and also import other style files */
.hidden{
    display: none;
}

.optBlue{
    background-color: blueviolet !important;
    color: white;
}

.optYellow{
    background-color: rgb(255, 251, 6) !important;
    color: red;
}

.optBlack{
    background-color: black !important;
    color: yellow;
}

.result{
    padding: 10px;
    margin-top: 10px;
}